@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 38, 39, 39;
    --background-start-rgb: 224, 211, 176;
    --background-end-rgb: 238, 234, 224;
    --link-rgb: 2, 147, 158;
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
      rgb(var(--background-start-rgb));
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 30, 25;
      --link-rgb: 2, 147, 158;
    }
  }
}

@layer utilities {
  .link-wrapper {
    @apply rounded-xl overflow-clip;
  }
  .link {
    @apply text-[var(--link-rgb)] py-2 px-4;
  }
  .active {
    @apply bg-[var(--link-rgb)] text-white;
  }
}
